*.pyc
.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/

# For PyCharm users
.idea/

*.log
*.pid
/real_alphaGoZero/
/diy/

/baseline/
/diy_dyn/
/diy_dyn_sym/
/diy_sym/
/diy_sym1/
/teacher/
/ours/
*.out
*.npz

scripts/
*.sh

compare/
__pycache__/
connect4/
docker/
dotsandboxes/
gobang/
pretrained_models/
rts/
santorini/
tafl/
tictactoe/
tictactoe_3d/
models/